.control-bar {
    width: 100%;
    height: 64px;
    border-top: 1px #88898c solid;
    position: absolute;
    bottom: 0;
    right: 0;
}

.control-bar__content {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-bar__controls {
    margin-right: 8px;
    text-align: center;
}

.control-bar__controls > .material-icons {
    font-size: 36px;
    cursor: pointer;
}