

.App-header > h1 {
  font-family: 'monospace';
  font-weight: 200;
  font-size: 35px;
  text-align: center;
  font-family: 'monospace';
  font-size: 35px;
}


.main-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls > .material-icons {
    font-size: 72px;
    cursor: pointer;
}

.icon-hidden {
    visibility: hidden;
}

.center-content {
    display: flex;
    align-content: space-around; 
    width: 100%;
}

.song-table {
    flex: 1 1 auto;
    width: 100%;
}